<html>
	<head>
		<link href="assets/style.css" rel="stylesheet" type="text/css" />
		<script src="assets/jquery-2.1.4.min.js" type="text/javascript"></script>
		<title>UNIX New Year</title>
	</head>
	<body>
		<div id="firework-canvas"></div>
		<div class="pane" id="countdown">
			<div id="final-countdown"></div>
			<div id="clock" class="loading">
				{{range .CurrentTime}}
				<div class="digit non{{.}}empty"><div class="current">{{.}}</div><div class="next"></div></div>
				{{end}}
				<div class="clear"></div>
			</div>
		</div>
		<div class="pane" id="background">
			<h1>UNIX New Year</h1>
			<h2>Background</h2>
			<p>In the UNIX Operating System (and all its derivatives), date and time values are stored as the number of seconds since the 1st of January 1970, 00:00:00 UTC.</p>
			<p>If you express that number in hexadecimal notation, once every half-a-year-and-a-bit™ (16,777,216 seconds) the number will end in six zeros. These occasions I like to celebrate.</p>
			<p>The next UNIX New Year will occur on <tt style="margin-left: 10px;">{{.NextYear}}</tt>.</p>
		</div>

		<script src="assets/script/script.js" type="text/javascript"></script>
	</body>
</html>
