body {
	margin: 0;
	background-color: #100510;
	color: #dacece;
}

.pane
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

div.clear
{
	float: none !important;
	clear: both;
}

#firework-canvas
{
	position: fixed;
	width: 100%;
	height: 100%;
}

/* Vertical centering */
#countdown
{
	position: relative;
}
#countdown #clock
{
	position: absolute;
	top: 50%;
	left: 50%;

	width: 1200px; /* assume 8 digits until 2038 */
	height: 220px;
	margin: -110px 0 0 -600px;
}

#countdown #final-countdown
{
	position: absolute;
	top: 50%;
	left: 50%;

	width: 400px;
	height: 600px;
	margin: -300px 0 0 -200px;

	font-size: 600px;
	line-height: 600px;
}


#countdown #clock
{
	font-family: Inconsolata, fixed;
	font-size: 250px;
}
#countdown #clock .digit
{
	float: left;
	width: 150px;
	height: 220px;
	line-height: 220px;
	overflow-y: hidden;
}
#countdown #clock .digit.empty
{
	display: none;
}
#countdown #clock .digit > div
{
	position: absolute;
	transition: top 400ms, color 400ms;
}
#countdown #clock .digit > .prev
{
	top: -220px;
	color: #100510;
}
#countdown #clock .digit > .current
{
	top: 0px;
	color: #dacece;
}
#countdown #clock .digit > .next
{
	top: 220px;
	color: #100510;
}


